.navbar {
    display: flex;
    flex-direction: column;
}

nav a:first-child {
    border-bottom: solid 1px var(--primary-blue-color);
    padding-bottom: 10px;
    display: inline-block;
    margin-right: 10px;
} 

nav a:last-child {
    color: var(--gray-font-color);
}